CREATE PROCEDURE [dbo].[sp_Upload_File_Update] @ServerName As VARCHAR(50), @Unidad As VARCHAR(2), @JSON As NVARCHAR(MAX) AS
/*
  AUTOR DE RUTINA	: Walter Vaca Prieto
  FECHA CREACION	: 16/07/2025
  FECHA MODIFICACION: 16/07/2025
  DESCIPCION		: Subir todos los archivos de Actualizacion
*/
BEGIN
 -- Mejora el rendimiento del SP o FN
    SET NOCOUNT ON
 -- Declaracion de variables
	DECLARE @Con_Item BIT, @Con_Periodo BIT;
	DECLARE @Tipo INT=0, @I INT=0;
    DECLARE @Campo VARCHAR(50), @Archivo VARCHAR(100), @Extension VARCHAR(3), @Valor VARCHAR(MAX), @File VARCHAR(MAX), @Datos NVARCHAR(MAX),
			@PathFileUpLoad VARCHAR(100)=@Unidad+'\SISTEMA\BASES\UPDATE_DB\';
 -- Empieza la programacion
	IF ISJSON(@JSON)>0
	BEGIN
	-- Averiguamos si el servidor es Linux
	   IF CHARINDEX(@ServerName,'db.diskcoversystem.com, erp.diskcoversystem.com, only.diskcoversystem.com')>0 SET @PathFileUpLoad='/home/ftpuser/ftp/files/SISTEMA/BASES/UPDATE_DB/'
	-- Borramos y Creamos las tablas temporales
	   DROP TABLE IF EXISTS DiskCover_#Update.dbo.Actualizacion;
	   DROP TABLE IF EXISTS DiskCover_#Update.dbo.Tabla_Archivo;
	   CREATE TABLE DiskCover_#Update.dbo.Actualizacion (Archivo VARCHAR(100) NULL, Extension VARCHAR(3) NULL, Documento NVARCHAR(MAX) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, 
					Con_Item BIT NULL, Con_Periodo BIT NULL);
	   CREATE TABLE DiskCover_#Update.dbo.Tabla_Archivo (Dato NVARCHAR(MAX) NULL);
    -- Declaración del cursor la lista de archivos
	   DECLARE cJSON CURSOR FOR SELECT * FROM OPENJSON(@JSON) 
	-- Apertura del cursor
	   OPEN cJSON
	   FETCH NEXT FROM cJSON INTO @Campo, @Valor, @Tipo
	   WHILE (@@FETCH_STATUS=0)
	   BEGIN
		  DELETE FROM DiskCover_#Update.dbo.Tabla_Archivo;
		  SET @Con_Item=0
		  SET @Con_Periodo=0
		  SET @Archivo=SUBSTRING(@Valor, 1, LEN(@Valor)-4)
		  SET @Archivo=REPLACE(@Archivo,'dbo.','')
		  SET @Archivo=REPLACE(@Archivo,'.StoredProcedure','')
		  SET @Archivo=REPLACE(@Archivo,'.UserDefinedFunction','')
		  SET @Extension=SUBSTRING(@Valor, LEN(@Valor)-2,3)
	   -- Ruta de subida de los archivos
	      SET @File=CONCAT(@PathFileUpLoad, @Valor)
	   -- Determinamos que tipo de archivo subimos
		  SET @Datos = N'BULK INSERT DiskCover_#Update.dbo.Tabla_Archivo FROM '''+@File+''' WITH(FIELDTERMINATOR='''', ROWTERMINATOR='''', FIRSTROW=1,'
		  IF @Extension='sql' SET @Datos = @Datos + ' DATAFILETYPE=''widechar'')' ELSE SET @Datos = @Datos + ' CODEPAGE=''RAW'')'
	   -- Carganmos el archivo al servidor	
		  EXECUTE(@Datos);
		  SELECT @Datos=Dato FROM DiskCover_#Update.dbo.Tabla_Archivo
		  SET @Datos=REPLACE(@Datos,'±','ñ')
		  IF @Extension='dbs' AND CHARINDEX('Periodo,', @Datos)>0 SET @Con_Periodo=1
		  IF @Extension='dbs' AND CHARINDEX('Item,', @Datos)>0 SET @Con_Item=1
		  IF @Extension='sql'
		  BEGIN
		    SET @I=CHARINDEX('CREATE PROCEDURE', @Datos);
		    IF @I>0 SET @Datos=SUBSTRING(@Datos, @I, LEN(@Datos))
			ELSE
 			BEGIN
			   SET @I=CHARINDEX('CREATE FUNCTION', @Datos);
			   IF @I>0 SET @Datos=SUBSTRING(@Datos, @I, LEN(@Datos))
		    END
			SET @Datos=SUBSTRING(@Datos, 1, LEN(@Datos)-4)
		  END
		  INSERT INTO DiskCover_#Update.dbo.Actualizacion (Archivo, Extension, Con_Periodo, Con_Item, Documento) VALUES (@Archivo, @Extension, @Con_Periodo, @Con_Item, @Datos) 
 	   -- Siguien Registro 
		  FETCH NEXT FROM cJSON INTO @Campo, @Valor, @Tipo
	   END
	-- Cierra y Libera el cursor
	   CLOSE cJSON
	   DEALLOCATE cJSON
	END
END